@model IEnumerable<Ticket>
@{
    ViewData["Title"] = "Index";
}

<partial name="_Notification" />

<a asp-controller="EmployeeSignIn" asp-action="Index" class="btn btn-dark float:right;">
    Log Out
</a>

<div style="display:inline; float:right;">
    <a class="btn btn-primary btn-info" asp-controller="EmployeeInterface" asp-action="ViewConnection">View Your Connection Details</a>
    <a class="btn btn-primary" asp-controller="EmployeeInterface" asp-action="Connect">Connect to your company</a>
</div>


<div class="container  p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Your Tickets</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="EmployeeInterface" asp-action="Create" class="btn btn-primary">
                Create New Ticket
            </a>
        </div>
    </div>
</div>

@foreach (var obj in Model){
    
    string colour = "";
    string statusColour = "";

    if (obj.Priority == "Low")
    {
        colour = "Green";
    }
    if (obj.Priority == "Medium")
    {
        colour = "yellowgreen";
    }
    if (obj.Priority == "High")
    {
        colour = "Orange";
    }
    if(obj.Priority == "Urgent")
    {
        colour = "red";
    }
    if (obj.Status == "pending")
    {
        statusColour = "Grey";
    }
    if (obj.Status == "In Progress")
    {
        statusColour = "Blue";
    }
    if (obj.Status == "Resolved")
    {
        statusColour = "Green";
    }
    <div class="card">
        <h5 class="card-header">@obj.Title <span style="float:right;">Last Updated: @obj.timeSubmitted</span></h5>
        <div class="card-body">
            <p class="card-title"><strong>Priority: </strong><span style="color:@colour"><strong>@obj.Priority</strong></span></p>
            <p class="card-text">@obj.Message</p>
            <p style="float:left; text-align:center;"><strong>Status: </strong><span style="color:@statusColour"><strong>@obj.Status</strong></span></p>
            <div style="float:right;">
                <div class="w-40 btn-group" role="group">
                    <a asp-controller="EmployeeInterface" asp-action="Edit" asp-route-id="@obj.TicketId" class="btn btn-primary">Edit</a>
                </div>
                <div class="w-40 btn-group" role="group">
                    <a asp-controller="EmployeeInterface" asp-action="Delete" asp-route-id="@obj.TicketId" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <br>
}