@model IEnumerable<Ticket>

<partial name="_Notification" />

<a asp-controller="AdminSignIn" asp-action="Index" class="btn btn-dark float:right;">
    Log Out
</a>

<div style="display:inline; float:right;">
    <a class="btn btn-primary btn-info" asp-controller="AdminInterface" asp-action="ViewConnection">View Your Connection Details</a>
</div>

<div class="container  p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Manage Your Employees Tickets</h2>
        </div>
    </div>
</div>

@foreach (var obj in Model)
{
    string email = "mailto:" + obj.UserEmail;

    string colour = "";
    string statusColour = "";

    if (obj.Priority == "Low")
    {
        colour = "Green";
    }
    if (obj.Priority == "Medium")
    {
        colour = "yellowgreen";
    }
    if (obj.Priority == "High")
    {
        colour = "Orange";
    }
    if (obj.Priority == "Urgent")
    {
        colour = "red";
    }
    if(obj.Status == "pending")
    {
        statusColour = "Grey";
    }
    if (obj.Status == "In Progress")
    {
        statusColour = "Blue";
    }
    if (obj.Status == "Resolved")
    {
        statusColour = "Green";
    }

    <div class="card">
        <h5 class="card-header">@obj.Title <span style="float:right;">Last Updated: @obj.timeSubmitted</span></h5>
        <div class="card-body">
            <p class="card-title"><strong>Priority: </strong><span style="color:@colour"><strong>@obj.Priority</strong></span></p>
            <p class="card-text">@obj.Message</p>
            <div style="display:block">
                <p><strong>Status: </strong><span style="color:@statusColour"><strong>@obj.Status</strong></span></p>
            </div>
            <p style="float:left;"><strong>Submitted by: <a href="@email" target="_blank">@obj.UserEmail</a></strong></p>
            <div style="float:right" class="w-40 btn-group" role="group">
                <a asp-controller="AdminInterface" asp-action="Update" asp-route-id="@obj.TicketId" class="btn btn-primary">Update</a>
            </div>
        </div>
    </div>
<br>
}
